@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --border: 214 32% 91%;
    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --ring: 222 47% 11%;
    --radius: 0.5rem;
    --chart-workload: #2a78d6;
    --chart-done: #eb6834;
  }

  .dark {
    --background: 222 47% 5%;
    --foreground: 210 40% 98%;
    --card: 222 47% 5%;
    --card-foreground: 210 40% 98%;
    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;
    --border: 217 33% 18%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 18%;
    --secondary-foreground: 210 40% 98%;
    --ring: 210 40% 98%;
    --chart-workload: #3987e5;
    --chart-done: #d95926;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
